/* Header Start*/

/* Header End */

/* Body Start */

/* Home Profile Left Start */

#home-profile-left-user-avatar {
    border-radius: 50%;
    width: 90px;
    margin-top: 20%;
    margin-left: 10%;
}

#home-profile-left-user-details {
    margin-top: 20%;
    margin-left: 5%;
}

/* Left Profile End */

/* Feed Start */

#feed-container {
    margin-top: 10px;
}

/* Feed End */

/* Brand Right Brand Start */

#home-profile-right-brand-avatar {
    border-radius: 50%;
    width: 90px;
    margin-left: 20%;
    margin-top: 20%;
    position: absolute;
}

#home-profile-right-brand-details {
    margin-top: 20%;
    margin-left: 15%;
}

/* Brand Right End */

/* Body End */

/* Footer Start */

/* Footer ENd */